.widget_p619_text_widget .outer {
  position: relative;
}

.widget_p619_text_widget .box {
  padding-top: 100%;
}

.widget_p619_text_widget .inner {
  position: absolute;
  padding: 10%;
  margin-bottom: 20%;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
  display: inline-block;
  word-wrap: break-word;
  word-break: break-word;
}
